<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_SECRET</key>
	<string>78822d4634cf47edb5db9598ea77e52f</string>
	<key>CLIENT_ID</key>
	<string>ab9dd9fee52e41de9d209e3f6ccde8c1</string>
</dict>
</plist>
